
<table summary="question form fields">
      <tr>
        <th>Question Subject</th>
        <td><%= f.text_field(:subject) %></td>
      </tr>
      <tr>
        <th>Question</th>
        <td><%= f.text_area(:question, :size=> "40x10") %></td>
      </tr>
      <tr>
        <th>Choice A</th>
        <td><%= f.text_field(:answerA) %></td>
      </tr>
      <tr>
        <th>Choice B</th>
        <td><%= f.text_field(:answerB) %></td>
      </tr>
      <tr>
        <th>Choice C</th>
        <td><%= f.text_field(:answerC) %></td>
      </tr>
      <tr>
        <th>Choice D</th>
        <td><%= f.text_field(:answerD) %></td>
      </tr>
      <tr>
        <th>Correct Answer</th>
        <td><%= f.text_field(:solution) %></td>
      </tr>
      <tr>
        <th><%=f.label(:rotation)%></th>
        <td><%=f.select(:rotation, 1..10,{:include_blank => 'all rotations'})%></td> 
      </tr>
      <tr>
        <th><%=f.label(:year)%></th>
        <td><%=f.select(:year, 1..10,{:include_blank => 'all years'})%></td> 
      </tr>
      <tr>
        <th>Time to Push</th>
        <td><%= f.datetime_select(:schedule , :order => [ :month , :day , :year]) %></td>
      </tr>
      
    </table>