<!-- #authors Will Nance and Sanket Prabhu -->
<head>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
<%#make sure they get to this page and then mark the assignment as answered%>
  <%@assignment.responded = true%>
</head>

<div class="admin-display">
  <%if @admin%>
    <p>
      You may edit the user's response below or change the question to override whether the question is marked correct.
    </p>
  <%end%>
</div>

<div class="General-container">
  <div class="hero-unit">
    <div class="question body">
      <%= @question.question %>
    </div>


    <ol type="A">
      <%= form_tag({:controller => "assignments", :action => 'grade',:id => params[:id],:user_id => params[:user_id]}) do %>
        <%[@question.answerA, @question.answerB ,@question.answerC ,@question.answerD].each do |choice|%>
          <li>
            <%=  radio_button_tag(:response, choice)%>
            <%= choice %>
          </li>
        <%end%>    
      </ol>
      <div class="form-buttons">
        <%= submit_tag("Submit Response", :class => 'btn btn-primary btn-large') %>
      </div>
    <%end%>
    <br/>
    <div id="timer">
      <%= "printing #{@user.id}" %>
      <script>

        var time = 180;
        var myInterval = window.setInterval("testTimer()", 1000);
        function testTimer(){
                            document.getElementById("timer").innerHTML = "Seconds Left " + time;

          time = time - 1;
          if(time == 0){
            
            
            clearInterval(myInterval);
             window.location = "<%="/assignments/grade/#{@assignment.id}"%>";
          }
        }
      </script>
    </div>
  </div>
</div>