<table summary="Admin form fields">
  <tr>
    <th><%= f.label(:firstName)%></th>
    <td><%= f.text_field(:firstName) %></td>
  </tr>
  <tr>
    <th><%= f.label(:lastName)%></th>
    <td><%= f.text_field(:lastName) %></td>
  </tr>
  <tr>
    <th><%= f.label(:username)%></th>
    <td><%= f.text_field(:username) %></td>
  </tr>
  <tr>
    <th><%= f.label(:email) %></th>
    <td><%= f.text_field(:email) %></td>
  </tr>
  <tr>
    <th><%= f.label(:password)%> </th>
    <td><%= f.text_field(:password) %></td>
  </tr>
</table>