<!-- #authors Will Nance and Sanket Prabhu -->
<head>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<div class="General-container">
  <div class="hero-unit">
    <h2>Update Administrators</h2>
    <%= link_to("<< Back to List", admins_path, :class => 'btn btn-primary btn-large') %>

    <br><br>
    <%  #{:action => 'update', :id => @Admin.id}%>
    <%= form_for(:Admin, :url => admin_path(@Admin.id), :html => {:method=> :put} ) do |f| %> 
      <%=render(:partial => "form",  :locals => {:f=>f})%>

      <div class="form-buttons">
        <%= submit_tag("Update Admin", :class => 'btn btn-primary btn-large') %>
      </div>
    <% end %>
  </div>
</div>