
<%= link_to("<< Back to List", {:action => 'list'}, :class => 'back-link') %>

<div class="Admin new">
  <h2>Create new Administrator</h2>

  <%= form_for(:Admin, :url => {:action => 'create'}) do |f| %>
  
    <table summary="Administrator form fields">
      <tr>
        <th>First Name</th>
        <td><%= f.text_field(:firstName) %></td>
      </tr>
      <tr>
        <th>Last Name</th>
        <td><%= f.text_field(:lastName) %></td>
      </tr>
      <tr>
        <th>Username</th>
        <td><%= f.text_field(:username) %></td>
      </tr>
      <tr>
        <th> Password </th>
        <td><%= f.text_field(:hashedPassword) %></td>
      </tr>
    </table>
    
    <div class="form-buttons">
      <%= submit_tag("Add New Administrator") %>
    </div>
    
  <% end %>
</div>




