<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>
<% if !flash[:notice].blank? %>
  <div class="notice">
    <%= flash[:notice] %>
  </div>
<%end%>
<div class="Admin show">
  <h2>Show Admin</h2>

  <table summary="Admin detail view">
    <tr>
      <th>Admin First Name</th>
      <td><%= @Admin.firstName%></td>
    </tr>
    <tr>
      <th>Admin Last Name</th>
      <td><%= @Admin.lastName %></td>
    </tr>
    <tr>
      <th>Username</th>
      <td><%= @Admin.username %></td>
    </tr>
    <tr>
      <th>Hashed Password</th>
      <td><%= @Admin.hashedPassword %></td>
    </tr>
    
    <tr>
      <th>Created</th>
      <td><%= @Admin.created_at.strftime("%b. %d %Y %H:%M" ) %></td>
    </tr>
    <tr>
      <th>Last Updated</th>
      <td><%= @Admin.updated_at.strftime("%b. %d %Y %H:%M" )) %></td>
    </tr>
  </table>
  
</div>

