
<%= link_to("<< Back to List", {:action => 'list'}, :class => 'back-link') %>

<div class="User delete">
  <h2>Delete User</h2>
  
  <%= form_for(:User, :url => {:action => 'destroy', :id => @User.id}) do |f| -%>

    <p>Are you sure you want to permanently delete this User?</p>
  
    <p class="reference-name"><%= @User.firstName %> <%= @User.lastName %> </p>
  
    <div class="form-buttons">
      <%= submit_tag("Delete User") %>
    </div>
    
  <% end %>
</div>
