<!-- #authors Will Nance and Sanket Prabhu -->
<%@page_title = "Admin Login"%>
<head>
  <title>Login Page</title>
  <style>
    body{
      background-color: #001A57
    }
  </style>
</head>
<div class="login-container">
  <%= form_tag({:action=> "attempt_login",:assignment_id => params[:id]}, :class => 'form-signin') do %>
    <h2 class="form-signin-heading">Please Log In</h2>
    <%= label_tag(:username) %>
    <%= text_field_tag(:username , nil, :class => "input-block-level")%> <br/>
    <%= label_tag(:password)%>
    <%= password_field_tag(:password, nil, :class => "input-block-level")%> <br>
    <button class ="btn btn-large btn-primary" type ="submit" value ="Log In">Log In</button>
    
    <div class="password-reset">
      <%= link_to("Forgot your password?", :controller => 'access', :action => 'reset_password') %>
    </div>
    <% if !flash[:notice].blank? %>
      <div class="notice">
        <br>
        <%= flash[:notice] %>
      </div>
    <% end %>
  <% end %>
</div>
