<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
  "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Doctor Self Study | <%= @page_title || 'Admin Area' %></title>
    <meta name="author" content="Will Nance">
    <%= stylesheet_link_tag('access', :media => 'all') %>    
  </head>
  <body>
    <div id ="contentwrapper">
      <div id="header">
        <h1>Doctor Self Study</h1>
      </div>

      <div id="main">
        <% if !flash[:notice].blank? %>
          <div class="notice">
            <%= flash[:notice] %>
          </div>
        <% end %>
        <div id="content">
          <%if session[:admin]%>
            <div class="menu">
              <h2>Admin Menu</h2>

              <div class =" identity">Logged in as: <%= session[:username]%> </div>
              <ul>
                <li> <%= link_to("Manage Questions", :controller => "questions") %> </li>
                <li> <%= link_to("Manage Assignments", :controller => "assignments") %> </li>
                <li> <%= link_to("Manage Users", :controller => "users") %> </li>
                <li> <%= link_to("Manage Admin Users", :controller => "admins") %> </li>

              </ul>
            </div>
          <%end%>
          <div class ="logout">
            <%= link_to("Logout", :controller => 'access' ,:action => "logout") %>
          </div>
          <%= yield %>
        </div>
      </div>
      <div id="footer">
        <p id="copyright">&copy; Duke CS</p>
      </div>
    </div>
  </body>
</html>
